@import url('https://fonts.googleapis.com/css?family=Asap');
@font-face{
	font-family:'futura';
	src:url('../fonts/futurastdmedium.eot');
	src:url('../fonts/futurastdmedium.eot?#iefix') format('embedded-opentype')
		,url('../fonts/futurastdmedium.woff') format('woff')
		,url('../fonts/futurastdmedium.ttf') format('truetype')
		,url('../fonts/futurastdmedium.svg#') format('svg');
	font-weight:normal;
	font-style:normal;
}
.head {
	height: 50px;
	color: #39870c;
	font-weight:normal;
}
body {
	font-family: 'Asap', sans-serif, Verdana, Geneva;
}
.head a {
	margin-top: 8px;
	margin-left: 10px;
	float: left;
}
.head span {
	margin-top: 15px;
	float: right;
	margin-right: 20px;
}

.navbar-nav {
	color: #39870c;
	margin-left: 250px;
}

.navbar-default {
	background-image: url('../images/Cataloguslogo.png');
	background-repeat: no-repeat;
	background-color: #fff;
	border: none;
	min-height: 87px;
}

.btn-primary {
  background-image: -webkit-linear-gradient(top, #39870c 0%, #39870c 100%);
  background-image:      -o-linear-gradient(top, #39870c 0%, #39870c 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#39870c), to(#39870c));
  background-image:         linear-gradient(to bottom, #39870c 0%, #39870c 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#39870c', endColorstr='#39870c', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  background-color: #39870c;
  border-color: #39870c;
}
.btn-primary:hover,
.btn-primary:focus {
  background-color: #39870c;
  background-position: 0 -15px;
}
.btn-primary:active,
.btn-primary.active {
  background-color: #39870c;
  border-color: #39870c;
}
.btn-primary.disabled,
.btn-primary:disabled,
.btn-primary[disabled] {
  background-color: #39870c;
  background-image: none;
}

.bg-primary {
	background-color: #39870c;
}

.footer {
	height: auto;
	position: static;
}

.btn,
.panel:active,
.panel.active {
  background-color: #fff;
  border-color: #39870c;
  }
.panel-heading,
.form-control {
  border-radius: 0px;
}

.panel-primary  > .panel-heading{
  background-color: #39870c;
}

.panel-primary {
	border-color: #39870c;
	margin-top: 20px;
}

a,
h3 {
	color: #275937;
}

a:hover {
	color: #000;
	text-decoration: none;
}

div.explanation {
	border: 1px solid #39870c;
	padding: 5px;
}

div.welkom {
	width: 48%;
	height: 200px;
	border: 1px solid #39870c;
	margin: 1%;
	text-align: center;
	vertical-align: middle;
	display: table-cell;
}

.nav-tree a {
	color: #275937;
}

.nav-tree a:hover {
	color: #39870c;
	text-decoration: none;
}

.pagination > li > a,
.pagination > li > a:hover,
.pagination > li > span {
	color: #39870c;
}

.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus, 
.pagination > .active > span:hover {
	color: #fff;
	background-color: #39870c;
	border-color: #39870c;
}

table.noborder {
	width: 100%;
	font-size: 10pt;
}

table.noborder tr td,
table.noborder tr th {
	border: none;
	padding-right: 10px;
	vertical-align: top;
}